.button {
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    @extend %flex-center;
    display: inline-flex;
    border-radius: 3px;
    background-color: $duck;
    color: white;
    text-transform: uppercase;
}