.form-container {
    background-color: $light-blue;
    .form-image {
        width: 100%;
    }
}

.form-container-inner {
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    @include breakpoint(tablet) {
        top: -50px;
    }
}

.form-wrapper {
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    height: 100%;
    iframe {
        border: none;
        width: 100%;
        @include breakpoint(laptop) {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}