//Imported Bootstrap components
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import 'overrides/bootstrap';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import "~bootstrap/scss/utilities";

//Common utilities classes
@import 'utilities/standard';

//Hamburger menu
@import 'overrides/hamburgers';
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

//Swiper
@import '~swiper/swiper-bundle.css';
@import 'overrides/swiper';

@import 'modules/header';
@import 'modules/hero';
@import 'modules/form';
@import 'modules/about';
@import 'modules/features';
@import 'modules/venue_types';
@import 'modules/footer';

* {
    @extend %graphik;
}

a {
    transition: 0.3s ease-in-out;
    &:hover {
        text-decoration: none;
    }
}

.layout-canvas-g > .section {
    margin: 0;
}

.page-wrapper {
    margin-top: 60px;
    @include breakpoint(laptop) {
        margin-top: 80px;
    }
}

.section-title {
    @extend %dolly-pro;
    font-weight: normal;
    color: red;
}

.list-unordered-check {
    padding-inline-start: 20px;
    @include breakpoint(tablet) {
        column-count: 2;
        column-gap: 25px;
    }
    li {
        list-style: none;
        position:relative;
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 15px;
        &:before {
            content: '';
            background-image: url("https://image.s11.sfmc-content.com/lib/fe3111717164047e7d1075/m/1/808ad059-aca4-40d2-8123-1223bc2f88aa.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: absolute;
            top: 5px;
            left: -20px;
            height: 15px;
            width: 15px;
        }
    }
}

.list-unordered-icon {
    padding-inline-start: 0;
    list-style: none;
    @include breakpoint(tablet) {
        column-count: 2;
        column-gap: 25px;
    }
    li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
    }
    img {
        height: 35px;
        width: auto;
    }
    span {
        display: inline-block;
        padding-left: 10px;
        font-size: 14px;
        line-height: 25px;
    }
}

.general-section-container {
    padding-top: 50px;
    padding-bottom: 50px;
    @include breakpoint(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include breakpoint(laptop) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}